.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(216, 12%, 8%);
}

.container {
  background-color: hsl(213, 19%, 18%);
  color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  max-width: 25rem;
  padding: 1rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
